:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 88%);
  --margins: 1em;
}
* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.Comment {
  margin-bottom: var(--margins);
  margin-left: var(--margins);
  background-color: var(--white);
  padding: 1em;
  position: relative;
}
.Comment .header,
.Comment .counter-and-reply .counter,
.Comment .counter-and-reply .reply,
.Comment .answers {
  display: flex;
}
.Comment .header {
  align-items: center;
  gap: 2em;
}
.Comment .answers {
  width: 100%;
  position: absolute;
  top: calc(100% + var(--margins));
  flex-direction: column;
  align-items: flex-end;
}
.Comment .answers .line {
  position: absolute;
  height: calc(100% - var(--margins));
  width: 1px;
  background-color: var(--light-gray);
  left: -1em;
} 
.Comment .header .username {
    font-size: .9em;
}
.Comment .header .user-image {
    width: 3em;
    height: auto;
    margin: var(--margins);
}
.Comment .header .created-at {
    font-size: .9em;
    color: var(--grayish-blue);
}
.Comment .counter-and-reply {
  position: relative;
}
.Comment .counter-and-reply .counter {
  align-items: center;
  position: relative;
  width: 5em;
  background-color: var(--very-light-gray);
  height: 2.3em;
  margin: var(--margins);
}
.Comment .counter-and-reply .counter .plus {
    position: absolute;
    left: .3em;
    cursor: pointer;
}
.Comment .counter-and-reply .counter .minus {
    position: absolute;
    right: .3em;
    cursor: pointer;
}
.Comment .counter-and-reply .counter .score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--moderate-blue);
    font-weight: 900;
}
.Comment .counter-and-reply .reply {
  justify-self: flex-end;
  position: absolute;
  font-weight: 900;
  color: var(--moderate-blue);
  right: 5%;
  bottom: 0.5em;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.Comment .counter-and-reply .reply .reply-sign {
  height: 1em;
  width: auto;
}
.Comment .content {
    margin-left: var(--margins);
    color: rgb(107, 106, 106);
}
.darkened {
  filter: brightness(30%);
}